body {
  background-color: #f5d8e2;
  color: rgb(0, 0, 0);
  font-family: "Times New Roman", Times, serif;
}

img {
  border-radius: 10%;
  margin-left: 2.5rem;
}

.art {
  float: right;
  text-align: center;
  width: 28rem;
  border: 1.5px solid #eebfcb;
  background-color: #eebfcb;
}

.pack {
  display: flex;
}

h1 {
  color: #072d46;
}
h2 {
  color: #702537;
  line-height: 1;
}
h3 {
  color: #702537;
}

.gauche {
  display: flex;
  margin-left: 1rem;
  padding: 10px;
  background-color: #eebfcb;
  flex-direction: column;
  flex: 0 1 25%;
}
.droite {
  flex: 0 1 75%;
  flex-direction: column;
  display: flex;
  margin-left: 1.5rem;
  padding: 10px;
  background-color: #eebfcb;
  display: flex;
  justify-content: space-between;
}

ul li {
  list-style-type: none;
}

a {
  color: black;
}
